/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --darker-main-hex: #0950af;
  --darker-main-rgb: 9, 80, 175;
  --lighter-main-hex: #4a91f0;
  --lighter-main-rgb: 74, 145, 240;
}
